a {
  text-decoration: none !important;
}

h1 {
  font-family: Staatliches !important;
  font-size: 120px !important;
}

#category {
  font-family: Staatliches !important;
  font-weight: 500 !important;
}

#editor {
  font-size: 16px !important;
  font-size: 1rem !important;
  line-height: 1.75 !important;
}

img:hover {
  opacity: 1 !important;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}

#banner {
  height: 260px;
  box-shadow: 0 0 2px #666666;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px auto 20px;

  .title {
    font-size: 38px;
  }
}

